
main{
  margin: auto;
  width: 960px;
  padding: 10px;
}

.block{
  border-style: solid;
  border-color: blue;
  border-width: 3px;
  margin: 30px;
  height: 53px;
  width: 60px;
}


.newColourr1c1{
  display: show;
  background-color: orange;
}
.newColourr1c2{
  display: show;
  background-color: red;
}
.newColourr1c3{
  display: show;
  background-color: KhaKi;
}
.newColourr1c4{
  display: show;
  background-color: Indigo;
}
.newColourr1c5{
  display: show;
  background-color: MistyRose;
}

.newColourr2c1{
  display: show;
  background-color: orange;
}
.newColourr2c2{
  display: show;
  background-color: yellow;
}
.newColourr2c3{
  display: show;
  background-color: red;
}
.newColourr2c4{
  display: show;
  background-color: KhaKi;
}
.newColourr2c5{
  display: show;
  background-color: Sienna;
}
.newColourr3c1{
  display: show;
  background-color: Orchid;
}
.newColourr3c2{
  display: show;
  background-color: black;
}
.newColourr3c3{
  display: show;
  background-color: green;
}
.newColourr3c4{
  display: show;
  background-color: yellow;
}
.newColourr3c5{
  display: show;
  background-color: green;
}
.newColourr4c1{
  display: show;
  background-color: Indigo;
}
.newColourr4c2{
  display: show;
  background-color: Orchid;
}
.newColourr4c3{
  display: show;
  background-color: SpringGreen;
}
.newColourr4c4{
  display: show;
  background-color: SpringGreen;
}
.newColourr4c5{
  display: show;
  background-color: SkyBlue;
}
.newColourr5c1{
  display: show;
  background-color: Gold;
}
.newColourr5c2{
  display: show;
  background-color: Gold;
}
.newColourr5c3{
  display: show;
  background-color: MistyRose;
}
.newColourr5c4{
  display: show;
  background-color: Sienna;
}
.newColourr5c5{
  display: show;
  background-color: SkyBlue;
}

.newColourr6c1{
  display: show;
  background-color: Grey;
}
.newColourr6c2{
  display: show;
  background-color: Black;
}
.newColourr6c3{
  display: show;
  background-color: Grey;
}
.newColourr6c4{
  display: show;
  background-color: Purple;
}
.newColourr6c5{
  display: show;
  background-color: Purple;
}


.hidden{
  display: none;
}
