*{
 /* border: 1px solid red !important;*/
}
/**{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}*/
.container{
  margin-top: 50px;
}


/* for testing */
.green{
  background-color: green;
}
.orange{
  background-color: orange;
}


h1{}
h2{}
h3{
  font-size: medium;
}

.autosizeImage{
  margin-bottom: 10px;
  max-width: 100%;
  height: auto;
}

.blog h1{
  font-size: large;
}
.blog h2{
  font-size: medium;
}
.blog h3{
  font-size: small;
}

/* ids */

#navBlog ul li{
  display: inline;
  margin-right: 20px;
  float: left;
}
#navProjects ul li{
  display: inline;
  margin-right: 20px;
  float: left;
}
#meImage{
  float: right;
  margin: 2px;
}

a:link{
  color: rgb(37,32,163);
}
a:visited{
  color: rgb(79,92,101);
}





//media queries
/* larger that mobile */
@media (min-width: 400px){
  /*body{
    background-color: white;
  }*/
  
}
/* larger that phablet */
@media (min-width: 550px){
  
}
/* larger than tablet */
@media (min-width: 750px){
  
}
/* larger than desktop */
@media (min-width: 1000px){
  
}
/* larger than desktop HD */
@media (min-width: 1200px){
  
}