*{
  border: 1px solid transparent !important;
  /*border: 1px solid red !important;*/
}
*{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/**{margin: 12px;}*/

body {
  /*padding: 2%;*/
  font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif ;
  color: rgb(13,13,46);  
  background-color: rgb(253,246,207,1); 

}

#homeImage {
    max-width: 100%;
    height: auto;
    border-radius: 300px;
    -webkit-border-radius: 300px;
    -moz-border-radius: 300px;
  }
#meImage {
    float: right;
    max-width: 40%;
    height: auto;
    /*border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;*/
  }

#navBlog ul li{
  float: left;
  margin-left: 10px;
  line-height: 20px;
  
}
#navProjects ul li{
  float: left;
  margin-left: 10px;
  line-height: 20px;
  
}

/*Headers*/
h1{
  font-size: 2.65rem;
}
h2{
  font-size: 2.2rem;
}
h3{
  font-size: 2rem;
}
h4{
  font-size: 1rem;
}

/*Media Queries*/

/* larger that mobile */
@media (min-width: 400px){
  /*body{
    background-color: white;
  }*/
  #meImage {
      max-width: 50%;
    }

}
/* larger that phablet */
@media (min-width: 550px){
  #meImage {
      max-width: 100%;
    }
}
/* larger than tablet */
@media (min-width: 750px){
  #meImage {
      max-width: 100%;
    }

}
/* larger than desktop */
@media (min-width: 1000px){
  #meImage {
      max-width: 100%;
    }
}
/* larger than desktop HD */
@media (min-width: 1200px){
  #homeImage {
    max-width: 90%;
  }
  #meImage {
      max-width: 100%;
    }
}