*{
 /* border: 1px solid red !important;*/
}
/**{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}*/
.container{
  margin-top: 50px;
}


/* for testing */
.green{
  background-color: green;
}
.orange{
  background-color: orange;
}


h1{}
h2{}
h3{
  font-size: medium;
}

.autosizeImage{
  margin-bottom: 10px;
  max-width: 100%;
  height: auto;
}


/* links */
a:link{
  color: rgb(35,86,155);
}
a:visited{
  color: rgb(93,127,107);
}

/*classes */

.blog h1{
  font-size: large;
}
.blog h2{
  font-size: medium;
}
.blog h3{
  font-size: small;
}

.dropdown{
  display: inline-block;
  position: relative;
  float: left;
  backgroup-color: green;
}
.navButton{
  display: block;
  margin-right: 20px;
 /* background-color: orange;*/
  margin-top: 12px;
  font-size: 16px;
}
.navDropContent{
  display: none;
  position: absolute;
  z-index: 1;
  background-color: white;
  min-width: 100%;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
  font-size: 16px;
}

.navDropContent a {
  display: block;
  color: back;
  padding: 5px;
}
.show{
  display: block;
}


/* ids */


#meImage{
  float: right;
  margin: 2px;
}





/* media queries  */
/* larger that mobile */
@media (min-width: 400px){
  /*body{
    background-color: green;
  }*/
    a:link{
      background-color: red; 
      color: rgb(35,86,155);
      font-size: 18px;
    }
    a:visited{
      color: rgb(93,127,107);
      font-size: 18px;
    }
}
/* larger that phablet */
@media (min-width: 550px){
/*body{
    background-color: yellow;
  }*/

  a:link{
     /* background-color: orange; */
      color: rgb(35,86,155);
      font-size: 20px;
    }
    a:visited{
      color: rgb(93,127,107);
      font-size: 20px;
    }
  
}
/* larger than tablet */
@media (min-width: 750px){
  a:link{
     /* background-color: green; */
      color: rgb(35,86,155);
      font-size: 22px;
    }
    a:visited{
      color: rgb(93,127,107);
      font-size: 22px;
    }
  
}
/* larger than desktop */
@media (min-width: 1000px){

  
}
/* larger than desktop HD */
@media (min-width: 1200px){
  
}